<template class="container body" name="landingpage">

<a type="button" class="portuguese">
  <img src="http://localhost:3000/PT.png" />
</a>



<a type="button" class="english">
 <img src="http://localhost:3000/EN.png"  />
</a>


</template>


<template class="container" name="loginEn">

  <form>
      <input type="email"  name="loginEmail" placeholder="enter your email">
        <p>
          <input type="password" name="loginPassword" placeholder="enter your password">
        </p>
        <p>
          <input href ="#" type="submit" value="LoginEn">
        </p>
        <p>
          <a href="/register">Register</a>
        </p>

    </form>

</template>

<template class="container" name="loginPt">

  <form>
      <input type="email"  name="loginEmail" placeholder="insira o seu email">
        <p>
          <input type="password" name="loginPassword" placeholder="insira a password">
        </p>
        <p>
          <input href ="#" type="submit" value="LoginPt">
        </p>
        <p>
          <a href="/register">Register</a>
        </p>

    </form>

</template>
