<template name="register">

  <form class="add-user">
    <p>
      Email
    </p>
    <input type="email"  name="registerEmail" placeholder="enter your email">
    <p>
      <p>
        Display Name
      </p>
           <input type="text" name="registerDisplayName" placeholder="enter your display name">
    </p>
      <p>
        <p>
          Password
        </p>
              <input type="password" name="registerPassword" placeholder="enter your password">
      </p>
      <p>
        <p>
          Retype Password
        </p>
              <input type="password" name="repeatPassword" placeholder="enter again your password">
      </p>
    <p>
    <input href ="/login" type="submit" value="Create Count">
  </p>

  </form>

  {{> flashMessages}}


</template>
